@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$main-back-color: #0000BC;
$button-color: #0000FF;
$text-color: #FFFFFF;

.body-container {
    width: 100vw;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/src/images/pixelgrass.jpg");
}

.main-container {
    width: 800px;
    height: 350px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 5px;
    background-color: $main-back-color;
    z-index: 1;
.main-container {
    padding-left: 0rem;
    padding-right: 1.5rem;
}
    #pad-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;
    }
    #controls-container {
        display: grid;
        grid-template-rows: auto auto;

        #display {
            z-index: 2;
            display: flex;
            justify-content: space-between;
            background-color: #209cee;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            .nes-bcrikko {
                align-self: flex-end;
            }
            .nes-balloon {
                align-self: flex-start;
                height: 65%;
                flex-basis: 65%;
                background-color: #EEEEEE;
                color: black;
                text-align: center;
            }
        }

        .volume-container {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr; 
            grid-gap: 2px;           
        }
    }
}
.nes-btn {
    color: $text-color;
    background-color: $button-color;
}
