@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.body-container {
    width: 100vw;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    flex-basis: 80%;
    display: grid;
    grid-template-columns: 60% 40%;

    #pad-container {
        display: grid;
        grid-template-columns: autogit  auto auto;
        // .drum-pad {

        // }
    }
}
.slider {
    width: 100%;
}